<h1>ASTROnomy PICture of the Day</h1>
<p>Each day a different image or photograph of our fascinating universe is featured, along with a brief explanation written by a professional astronomer </p>

<form action="/astronomy_pic" method="post">
<button> show me today's picture</button>

</form>
