<div class="home_page_container">

  <img class="home_page_img" src="/thumbnails/planet_earth.jpg" alt="planet earth image">

  <div class="home_page_text"> 
    <h1><span>ASTRO</span>nomy <span>PIC</span>ture of the Day</h1>
    <p>Each day a different image or photograph of our fascinating universe is featured, along with a brief explanation written by a professional astronomer </p>
  </div>

  <div class="form">
    <form action="/astronomy_pic" method="post">
    <button class="button"> show me today's picture</button>
    </form>
  </div>
</div>
